<!DOCTYPE html>
<html id="docs" lang="zh-cn">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="keywords" content="lodash chinese">
    <meta name="description" content="中文lodash文档">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel="stylesheet" href="/stylesheets/atelier-savanna-dark.css" />
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/lodash.js"></script>
  </body>
</html>
