<!DOCTYPE html>
<html id="docs">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel="stylesheet" href="/stylesheets/atelier-savanna-dark.css" />
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/lodash.js"></script>
  </body>
</html>
